<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="">
<head>
    <title>GRSU Guide</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6"
          crossorigin="anonymous"
    >
    <link th:href="@{../css/style.css}" rel='stylesheet' >
</head>
<body>

    <!--NAVBAR-->
    <ul class="nav nav-pills nav-justified">
        <a class="logo" th:href="@{'/page/'+ ${parentPages[0].getId()}}">
            <img th:src="@{../img/grsu.png}" alt="logo.png" width="80" height="80">
        </a>
        <li class="nav-item" th:each="pageN:${parentPages}">
            <a th:href="@{'/page/'+ ${pageN.getId()}}" class="nav-link nav-link-add " th:text="${pageN.getNamePage()}"></a>
        </li>
        <li class="nav-item">
            <a th:href="@{/feedback}" class="nav-link nav-link-add">Feedback</a>
        </li>
        <li class="nav-item">
            <a th:href="@{/search}" class="nav-link nav-link-add">Search</a>
        </li>
        <div class="nav-button-div">
            <button sec:authorize="hasRole('ROLE_ADMIN')" class="nav-dropdown-button" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                &#9776
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#addModal">Add page</button></li>
                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#editModal">Rename page</button></li>
                <li th:if="${parentPages.size()>1}">
                    <form th:action="@{'/page/'+${page.getId()}+'/delete/'}" method="post">
                        <button type="submit" class="dropdown-item">Delete page</button>
                    </form>
                </li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" th:href="@{/logout}">Logout</a></li>
            </ul>
        </div>
    </ul>

    <!--ADD PAGE MODAL-->
    <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{/add}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addModalLabel">Add page</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" required name="newNamePage" class="form-control" id="pageNameInput" placeholder="Page Name">
                    </div>
                    <div class="modal-buttons-div">
                        <button type="submit" class="common_button">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!--ADD CHILD PAGE MODAL-->
    <div class="modal fade" id="addChildModal" tabindex="-1" aria-labelledby="addChildModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/page/'+${page.getId()} +'/add_child_page'}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addChildModalLabel">Add page</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" required name="newNamePage" class="form-control" id="childPageNameInput" placeholder="Page Name">
                    </div>
                    <div class="modal-buttons-div">
                        <button type="submit" class="common_button">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--EDIT PAGE MODAL-->
    <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form th:action="@{'/page/'+${page.getId()}+'/edit'}" method="post">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editModalLabel">Rename page</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" required name="newNamePage" class="form-control" th:value="${page.getNamePage()}" id="pageNameEdit" placeholder="Page Name">
                    </div>
                    <div class="modal-buttons-div">
                        <button type="submit" class="common_button">Rename page</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!--BREADCRUMB-->
    <nav style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='currentColor'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li th:if="${hierarchyPages!=null}" th:each="hierarchyPage:${hierarchyPages}" class="breadcrumb-item"><a th:href="@{'/page/'+${hierarchyPage.getId()}}" th:text="${hierarchyPage.getNamePage()}"></a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="${page.getNamePage()}"></li>
        </ol>
    </nav>

    <hr>
    <!--PAGE-->
    <div class="container" id="page-container">
        <!--HEADER-->
        <div class="row justify-content-md-center">
            <div class="col">
            </div>
            <div class="col-xl">
                <h1 style="text-align: center;margin: 0" class="display-4" th:text="${page.getNamePage()}"></h1>
            </div>
            <div class="col">
            </div>
        </div>

        <!--SIDE MENU-->
        <div class="row justify-content-md-center">
            <div class="col">
                    <div>
                        <nav class="menu_border sidebar card py" th:if="${childPages.size() !=0}">
                            <ui class="menu nav flex-column">
                                <li class="nav-item" th:each="pageN:${childPages}">
                                    <a th:href="@{'/page/'+${pageN.getId()}}" class="nav-link" th:text="${pageN.getNamePage()}"></a>
                                </li>
                            </ui>
                        </nav>
                    </div>
                        <button type="button" class="common_button" data-bs-toggle="modal" data-bs-target="#addChildModal" sec:authorize="hasRole('ROLE_ADMIN')">
                            Add child page
                        </button>
            </div>
        <div class="col-md">
            <!--ELEMENT-->
            <div th:each="element, stat:${elements}">
                <video width="700px" class="element" muted="muted" controls loop th:if="${element.getType()=='video'}">
                    <source th:src="${'../uploads/' + element.value}" type="video/mp4">
                </video>
                <img width="700px" class="element"  th:src="${'../uploads/' + element.value}" th:if="${element.getType()=='image'}">
                <div class="element text" th:utext="${element.value}" th:if="${element.getType()=='text'}">
                </div>

                <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/page/'+ ${page.getId()} +'/delete_el/' + ${element.getId()}}" method="post">
                    <button class="common_button" type="button" data-bs-toggle="collapse" th:data-bs-target="'#collapseEdit'+${stat.index}" aria-expanded="false" th:aria-controls="'collapseEdit'+${stat.index}">
                        Edit
                    </button>
                    <input type="hidden" th:id="${element.getId()}"/>
                    <button type="submit" class="common_button">Delete</button>
                </form>
                <!--EDIT ELEMENT COLLAPSE-->
                <div class="collapse" th:id="'collapseEdit'+${stat.index}" sec:authorize="hasRole('ROLE_ADMIN')">
                    <div class="card card-body">
                        <div class="tabs">
                            <div th:id="'content-1-edit'+${stat.index}">
                                <form enctype="multipart/form-data" th:action="@{'/page/'+ ${page.getId()} +'/edit_el/' + ${element.getId()}}" method="post">
                                    <textarea class="editor_txt" name="value" id="textInput-edit" rows="3"></textarea>
                                    <input type="hidden" id="type1-edit" name="type" value="text">
                                    <input class="common_button" type="submit" value="Add">
                                </form>
                            </div>
                            <div th:id="'content-2-edit'+${stat.index}">
                                <form enctype="multipart/form-data" th:action="@{'/page/'+ ${page.getId()} +'/edit_el/' + ${element.getId()}}" method="post">
                                    <label for="formFile1" class="form-label">Select your video</label>
                                    <input class="form-control" type="file" accept="video/*" id="formFile1-edit" name="file">
                                    <input type="hidden" id="type2-edit" name="type" value="video">
                                    <input class="common_button" type="submit" value="Add">
                                </form>
                            </div>
                            <div th:id="'content-3-edit'+${stat.index}">
                                <form enctype="multipart/form-data" th:action="@{'/page/'+ ${page.getId()} +'/edit_el/' + ${element.getId()}}" method="post">
                                    <label for="formFile2" class="form-label">Select your image</label>
                                    <input class="form-control" accept="image/*" name="file" type="file" id="formFile2-edit">
                                    <input type="hidden" id="type3-edit" name="type" value="image">
                                    <input class="common_button" type="submit" value="Add">
                                </form>
                            </div>

                            <div class="tabs__links">
                                <a th:href="'#content-1-edit'+${stat.index}">Add text</a>
                                <a th:href="'#content-2-edit'+${stat.index}">Add video</a>
                                <a th:href="'#content-3-edit'+${stat.index}">Add image</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
            <div class="col" >
            </div>
        </div>
        <!--ADD ELEMENT COLLAPSE-->
        <div class="row justify-content-md-center"  sec:authorize="hasRole('ROLE_ADMIN')">
            <div class="col-xl add">
                <div class="tabs">
                    <div id="content-1">
                        <form enctype="multipart/form-data" th:action="@{'/page/'+ ${page.getId()} +'/add_el'}" method="post">
                            <textarea class="editor_txt" name="value" id="textInput" rows="3"></textarea>
                            <input type="hidden" id="type1" name="type" value="text">
                            <input class="common_button" type="submit" value="Add">
                        </form>
                    </div>
                    <div id="content-2">
                        <form enctype="multipart/form-data" th:action="@{'/page/'+ ${page.getId()} +'/add_el'}" method="post">
                            <label for="formFile1" class="form-label">Select your video</label>
                            <input class="form-control" type="file" accept="video/*" id="formFile1" name="file">
                            <input type="hidden" id="type2" name="type" value="video">
                            <input class="common_button" type="submit" value="Add">
                        </form>
                    </div>
                    <div id="content-3">
                        <form enctype="multipart/form-data" th:action="@{'/page/'+ ${page.getId()} +'/add_el'}" method="post">
                            <label for="formFile2" class="form-label">Select your image</label>
                            <input class="form-control" accept="image/*" name="file" type="file" id="formFile2">
                            <input type="hidden" id="type3" name="type" value="image">
                            <input class="common_button" type="submit" value="Add">
                        </form>
                    </div>

                    <div class="tabs__links">
                        <a href="#content-1">Add text</a>
                        <a href="#content-2">Add video</a>
                        <a href="#content-3">Add image</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
            crossorigin="anonymous">
    </script>
    <script th:src="@{../tinymce/tinymce.min.js}"></script>

    <script type="text/javascript">
        tinymce.init({
            selector: '.editor_txt',
            menubar: false,
            plugins: 'lists',
            toolbar: 'undo redo | styleselect | bold italic underline | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | fontselect fontsizeselect'


        });
    </script>
</body>
</html>